---
import { getCollection, type CollectionEntry } from 'astro:content';

type Post = CollectionEntry<'posts'>;
const posts = await getCollection('posts');
---

<ul>
    {
        posts.map((post: Post) => (
            <li>
                <a href={`/posts/${post.slug}`}>{post.data.title}</a>
            </li>
        ))
    }
</ul>
